:root{
    --text-primary:#f8f8f2;
    --text-secondary:#643173;
    --bg-primary:#44475a;
    --bg-secondary:#6272a4;
    --bg-darkmode:#333333;
    --bd-primary:#f1fa8c;
    --bd-secondary:#ff79c6;
    --font-family:'Roboto', 'sans-serif';
}
/*
dark purple:643173
light purple:7D5BA6
light green:89CE94
ruby red:931621
medium blue:3AAFB9
light blue:64E9EE
baby blue:97C8EB
baby pink:EDAFB8
*/
body{
    margin:0px;
    background-color:var(--bg-darkmode);
    transition:0.2s;
    color:var(--text-primary)
}
.nav-wrapper{
    background-color:var(--text-secondary);
}
#myName{
    margin-left:5px;
    transition:0.2s;
}
#myName:hover{
    color:#D5DCF9;
    transition:0.2s;
}
#nav-mobile > li > a{
    font-size:25px;
}

/*About*/
#HiImZG{
    text-align: center;
    color:var(--text-primary);
}
#HiImZGColour{
    color:#7D5BA6;
}
#photoHere{
    border:2px solid #7D5BA6;
    text-align: center;
    width:60%;
    height:300px;
    margin:none;
}
#photoHereText{
    margin-top:10%;
}
#AboutMe > p{
    text-align: center;
    font-size:30px;
}
#aboutTitle{
    color:#7D5BA6; 
}
/*Projects*/
.projectsImages{
    margin:auto;
    margin-top:5px;
    display:inline-grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 5px;
    column-gap:5px;
}
.projectsImages > div{
    height:410px;
    width:500px;
    border:2px solid #7D5BA6;
    text-align: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    row-gap:0px;
}
.projectsImages > div > h1{
    margin-top:35%;
}
#pane6{
    cursor:default;
}
#comingSoon{
    cursor:default;
}
.paneImages{
    transition:0.2s;
}
.paneImages > img{
    height:100%;
    width:100%;
    cursor:pointer;
    transition:0.2s;
}
.paneImages:hover{
    border:2px solid #97C8EB;
    transition:0.2s;
    
}
.paneButton{
    cursor:pointer;
}

#paneBacker{
    height:406px;
    width:496px;
    background-color:#333333;
    opacity:0;
    transition:0.5s;
    position:absolute;
}
.paneImages:hover > #paneBacker{
    opacity:0.85;
    transition:0.5s;
}
.paneImages:hover > #paneButton{
    opacity:1;
    transition:0.5s;
}
#paneButton{
    display:flex;
    justify-content: center;
    position:absolute;
    margin:0 auto;
    font-size: 25px;
    text-align: center;
    border-radius: 290486px;
    padding:1.2rem;
    opacity:0;
    transition:0.5s;
    z-index: 9999;
    background-color: var(--text-secondary);
    color:var(--text-primary);
    border:2px solid var(--text-primary);
    cursor:pointer;
    font-weight: 500;
    margin-left:6%;
    margin-top:9%;
}

/*Extras*/
#extras{
    text-align: center;
}
#extras > p{
    font-size:30px;
}